@font-face {
  font-family: 'Space Invaders';
  src: url('fonts/space_invaders.eot'); 
  src: url('fonts/space_invaders.eot?#iefix') format('embedded-opentype'), 
       url('fonts/space_invaders.woff') format('woff'), 
       url('fonts/space_invaders.ttf')  format('truetype');   
}

body {
	background: black;
	text-align: center; 
}

h1 {
	font-family: 'Space Invaders', Arial, sans-serif;
	letter-spacing: 5px;
	color: #7cfc00;
	text-align: center;
	font-weight: normal;
}

canvas {
	width: 900px;
    height: 500px;
	border: 5px solid white;
    margin: auto;
}


